body {
    background-color: black;
}
header {
    font-family: fantasy;
    background-color: orangered;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;

}
header h1 {
    font-size: xx-large;

}
header nav a{
    text-decoration: none;
    margin-right: 30px;
    color:teal ;
}
.main {
    background-color: orangered;
    padding-right: 1%;
    padding-left:8%;
    margin-left: 10%;
    margin-right: 10%;
    height: 1100px;
}
.product-item img{
    
    width: 200px;
     
} 
.product-item a {
    display: block;
    text-decoration: none;
    color: black;
     
}
.product-item {
    text-align: center;
    font-weight: 900;
    float:left;
    margin: 5%;
}
.product-item button {
    background-color: black;
    color:darkgoldenrod;
    padding: 4%;
}
.content header h1 {
    background-color: black;
    color:lawngreen;
    text-align: center;
    

}